<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/0dbf4fd9d4.js" crossorigin="anonymous"></script>
    <title>Kuan's Blog</title>
</head>
<body>
    <div class="header">
        <ul class="left-links">
            <li><img class="catpic" src="{% static 'images/smile.png' %}" alt="cat"></li>
            <li><a class="title">Kuan's Site</a></li>
        </ul>
        <ul class="right-links">
            <li><a href="index.html">文章</a></li>
            <li><a href="gallery.html">相片集</a></li>
        </ul>
    </div>

    <div class="body">
        <div class="content-card">
            <img class="picture-card" src="https://meatballhead5403.imgix.net/omg.JPG?w=1200&h=800&fit=crop&auto=format%2Ccompress" alt="looong-dog">
            <img class="picture-card" src="https://meatballhead5403.imgix.net/pics%20(2).jpg?w=1200&h=800&fit=crop&auto=format%2Ccompress" alt="looong-dog">
            <img class="picture-card" src="https://meatballhead5403.imgix.net/pics%20(3).JPG?w=1200&h=800&fit=crop&auto=format%2Ccompress" alt="looong-dog">
            <img class="picture-card" src="https://meatballhead5403.imgix.net/pics%20(4).JPG?w=1200&h=800&auto=format%2Ccompress" alt="looong-dog">
            <img class="picture-card" src="https://meatballhead5403.imgix.net/pics%20(5).JPG?w=1200&h=800&auto=format%2Ccompress" alt="looong-dog">
            <img class="picture-card" src="https://meatballhead5403.imgix.net/pics%20(6).JPG?w=1200&h=800&auto=format%2Ccompress" alt="looong-dog">
            <img class="picture-card" src="https://meatballhead5403.imgix.net/pics%20(7).JPG?w=1200&h=800&auto=format%2Ccompress" alt="looong-dog">
            <img class="picture-card" src="https://meatballhead5403.imgix.net/pics%20(8).JPG?w=1200&h=800&auto=format%2Ccompress" alt="looong-dog">
            <img class="picture-card" src="https://meatballhead5403.imgix.net/pics%20(9).JPG?w=1200&h=800&auto=format%2Ccompress" alt="looong-dog">
            <img class="picture-card" src="https://meatballhead5403.imgix.net/pics%20(10).JPG?w=1200&h=800&auto=format%2Ccompress" alt="looong-dog">
        </div>
    </div>

    <div class="footer">
        <ul class="button-top-links">
            <li><a href="https://github.com/Aggressive-Duck/Landing-Page-Blog"><i href=""class="fa-brands fa-github fa-2xl"></i></a></li>      
            <li><a href="https://www.instagram.com/meatballhead611/"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>      
        </ul>
        <ul>
            <li><a href="https://www.flaticon.com/free-icons/smile" title="smile icons">Smile icons created by abdanbagus - Flaticon</a></li>
        </ul>
    </div>
</body>
</html>