<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/0dbf4fd9d4.js" crossorigin="anonymous"></script>
    <title>Kuan's Blog</title>
</head>
<body>
<!--    <h1> 歡迎光臨 : {{username}} </h1>-->
<!--    <h2> 現在時刻 : {{now}} </h2>-->
    <div class="header">
        <ul class="left-links">
            <li><img class="catpic" src="{% static 'images/smile.png' %}" alt="cat"></li>
            <li><a class="title">Kuan's Site</a></li>
        </ul>
        <ul class="right-links">
            <li><a href="index.html">文章</a></li>
            <li><a href="gallery.html">相片集</a></li>
        </ul>
    </div>

    <div class="body">
        <div class="content">
            <div class="card">
                <div><img class="filter-light-blue" src="{% static 'images/map.svg' %}" alt="map"></div>
                <div class="card-container">
                    <div class="card-title-container"><a class="card-title" href="https://aggressive-duck.github.io/Log/">歡迎光臨 : {{ username }}</a></div>
                    <div class="card-text">現在時刻 : {{ now }}</div>
                    <div class="card-text">資料感到業主等等模糊好像，面前照顧，說話首先開口咖啡比較感興趣都要下載次數一路徹底，離線貨幣詳細內容同學，顏色無奈，觀察如果你細節方法網通權利關鍵字對他壓力，每個人最快毫無天然環保至於下載這時不可也沒代表警察明天，運動恐怕狀況準備，場所宜蘭共享版屏東存儲。</div>
                </div>
            </div>

{#            <div class="card">#}
{#                <div><img class="filter-light-blue" src="assets/book.svg" alt="map"></div>#}
{#                <div class="card-container">#}
{#                    <div class="card-title-container"><a class="card-title" href="">Lorem ipsum dolor sit.</a></div>#}
{#                    <div class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad sit quasi eum autem, facere labore necessitatibus incidunt non ipsa quia qui excepturi. Eligendi quos quod eaque nisi quibusdam blanditiis esse.</div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="card">#}
{#                <div><img class="filter-light-blue" src="assets/restaurant.svg" alt="map"></div>#}
{#                <div class="card-container">#}
{#                    <div class="card-title-container"><a class="card-title" href="">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></div>#}
{#                    <div class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad sit quasi eum autem, facere labore necessitatibus incidunt non ipsa quia qui excepturi. Eligendi quos quod eaque nisi quibusdam blanditiis esse.</div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>

    <div class="footer">
        <ul class="button-top-links">
            <li><a href="https://github.com/Aggressive-Duck/Landing-Page-Blog"><i href=""class="fa-brands fa-github fa-2xl"></i></a></li>
            <li><a href="https://www.instagram.com/meatballhead611/"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
        </ul>
        <ul>
            <li><a href="https://www.flaticon.com/free-icons/smile" title="smile icons">Smile icons created by abdanbagus - Flaticon</a></li>
        </ul>
    </div>
</body>
</html>